{{ partial "head" . }}

{{if ne .Site.Params.singleViewStyle "casper"}}<body class="ctsingle">
{{else}}<body class="page-template">{{end}}
<div class="site-wrapper"> 

{{if ne .Site.Params.singleViewStyle "casper"}}{{ partial "header" . }}
{{else}}{{ partial "header-sori" . }}{{end}}


<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
  	{{if ne .Site.Params.singleViewStyle "casper"}}
    <div class="post-feed">
      {{ partial "page-single" . }}
    </div>
    {{else}}
      {{ partial "page-single-sori" . }}
    {{end}}
  </div>


  <!-- Begin Converkit Signup Form -->
  <div class="convertkit-form">
    <h4><strong>Don't miss my next update</strong> 🙂</h4>
    <script async data-uid="9e79327fcb" src="https://crafty-builder-1678.ck.page/9e79327fcb/index.js"></script>
  </div>
</main>



{{ partial "footer" . }}
</div>{{ partial "js" . }}</body></html>
